<div class="col">
    <div class="row mb-5">
        <div class="col d-flex align-items-center justify-content-center">
            <div class="container">
                <div class="row mb-5">
                    <img [src]="imgSelect" alt="imagen-producto">
                </div>
                <div class="row d-block">
                    <section class="img-gallery">
                        <img *ngFor="let item of publicacion.producto.imagenes" [src]="item" alt="imagen-producto"
                            (click)="OnChangeImgSelected(item)">
                    </section>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card detalle-producto">
                <div class="top-right-corner">
                    <i class="{{favorito ? 'fa-solid' : 'fa-regular'}} fa-heart fa-2xl" role="button"
                        style="color: #52B9A8;" (click)="favorito ? eliminarFavorito() : agregarFavorito()"></i>
                </div>
                <h2 class="text-center">{{publicacion.producto.nombre}}</h2>
                <span class="text-center display-4 {{publicacion.descuento !== 0 ? '' : 'mb-5'}}"><b>${{publicacion.descuento
                        !== 0 ? (publicacion.producto.precio * (1-(publicacion.descuento/100))) :
                        publicacion.producto.precio}}</b></span>
                <span *ngIf="publicacion.descuento !== 0"
                    class="text-muted text-center mb-5"><del>${{publicacion.producto.precio}}</del></span>
                <h5 class="text-secondary mt-3"><b>Descripcion</b></h5>
                <p>{{publicacion.producto.descripcion}}</p>
                <div class="row mt-3">
                    <h5 class="text-secondary"><b>Vendido por</b></h5>
                    <p>{{vendedor.nombre+vendedor.apellido}}</p>
                </div>
                <h5 class="text-secondary mt-3"><b>Cantidad</b></h5>
                <div class="row mb-4">
                    <div class="col">
                        <input #unidades="ngModel" type="number" class="form-control text-center" name="cantidad"
                            id="cantidad" min="1" value="1" max="{{publicacion.producto.unidades}}"
                            [(ngModel)]="detalle.unidades">
                    </div>
                    <div class="col align-items-center">
                        <p class="text-muted">({{publicacion.producto.unidades}} unidades disponibles)</p>
                    </div>
                </div>
                <button (click)="agregarCarrito()" class="btn btn-outline-primary my-3"><i class="fa-solid
                    fa-cart-plus me-2"></i>Agregar al carrito</button>
                <button class="btn btn-success" routerLink="/pago" (click)="comprar()">Comprar</button>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <h5 class="text-secondary"><b>Comentarios</b></h5>
        <div class="col">
            <div *ngFor="let comentario of comentarios" class="row mt-2">
                <h6>{{comentario.usuario.nombre+comentario.usuario.apellido}}</h6>
                <p>{{comentario.comentario.mensaje}}</p>
                <hr>
            </div>
            <div *ngIf="publicacion.comentarios.length == 0"
                class="d-flex align-items-center justify-content-center mt-2">
                <i class="fa-solid fa-comment-slash fa-xl"></i><span class="ms-3">No hay comentarios en esta
                    publicación</span>
            </div>
            <div class="container mt-5">
                <form #f="ngForm" (submit)="publicarComentario()">
                    <div class="character-counter">{{comentario.mensaje.length}}/{{limiteCaracteres}}</div>
                    <textarea #comentarioMensaje="ngModel" [(ngModel)]="comentario.mensaje" class="form-control w-100"
                        name="comentarioMensaje" rows="6" placeholder="Deja tu comentario..."
                        maxlength="{{limiteCaracteres}}"></textarea>
                    <button type="submit" class="btn right-bottom-corner"><i class="fa-regular fa-paper-plane fa-2xl"
                            style="color: #52B9A8;"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>